.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin: auto;
  width: 50%;
  max-width: 500px;
  background-color: pink;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  padding: 10px;
    
    
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}

body{
  background-image: url("https://image.freepik.com/free-vector/cute-cat-paws-footprint-seamless-pattern-background_42349-730.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:hover {
  transition: 0.3s; 
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.comment-container {
  display: flex;
  margin: 10px;
}

.delete-button {
  margin-left: 15px;
}

.error {
  margin-top: 20px;
  color: red;
}

.cat-pic {
  margin: 20px;
  max-width: 500px;
  border-radius: 10px;
  -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
 
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-display {
  margin-bottom: 10px;
}

.comment-form {
  margin: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-comment-container {
  margin-right: 10px;
}

.user-comment {
  padding: 5px;
}

.comments {
  border: solid grey 1px;
  height: 400px;
  width: 80%;
  margin: 10px;
  padding: 5px;
  overflow: scroll;
}

@media screen and (max-width: 1000px) {

  /* remove the width from the form so that
      it is just as wide as the screen. */
      
      .container{
          width:100%;
          margin: 0;
      }
          }